* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh;
	/* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */



}

a {
	color: rgb(163, 163, 163);
	text-decoration: none;
}


a:hover {
	color: white;
	cursor: pointer;
}


.header-menu a:hover {
	color: white;
	cursor: pointer;
}

.header-menu {
	height: 60px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	position: relative;
	list-style: none;
	text-decoration-line: none;
}

.header-menu i {
	color: white;
	font-size: x-large;
}

.header-menu a:focus {
	color: white;

}



.icona-reel {
	position: absolute;
	left: 15px;
	top: 15px;
}

.icona-cerca {
	position: absolute;
	right: 15px;
	top: 15px;
}

.esplora {
	position: relative;
}

.esplora:focus::after {
	content: "";
	position: absolute;
	top: 24px;
	right: 16px;
	height: 2px;
	width: 20px;
	background-color: white;
}

.seguiti {
	position: relative;

}


.seguiti::after {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	background-color: red;
	border-radius: 50%;
}

.seguiti:focus::after {
	content: "";
	position: absolute;
	height: 2px;
	top: 24px;
	left: 12px;
	width: 50%;
	background-color: white;



}

.per-te {
	position: relative;
	color: white;
}


.per-te a:focus::after {
	content: "";
	position: absolute;
	height: 2px;
	top: 24px;
	left: 12px;
	width: 50%;
	background-color: white;
}



.per-te a:focus {
	position: relative;
	color: white;

}

.red-dot {
	position: relative;
}

.dot {
	height: 8px;
	width: 8px;
	background-color: red;
	border: 1px solid red;
	border-radius: 50%;
	position: absolute;
	left: 284px;

}



/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

.footer-menu {
	height: 65px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	background-color: black;
}

.footer-menu li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-menu i {
	font-size: larger;
	color: rgb(163, 163, 163);
}

.footer-menu span {
	font-size: x-small;
}

.bi-plus-square-fill::before {
	content: "\f4fc";
	font-size: x-large;
	text-shadow: 3px 1px rgba(233, 19, 240, 0.933);
}


.footer-menu i:hover {
	color: white;
	cursor: pointer;
}

.footer-menu button {
	border: none;
	background: transparent;
	outline: none;
	cursor: pointer;

}

button:focus i {
	color: white;
}

.posta {
	position: relative;
}

.posta::after {
	content: "19";
	color: white;
	position: absolute;
	top: -6px;
	right: -15px;
	height: 11px;
	width: 13px;
	background-color: red;
	font-size: 10px;
	font-weight: 700;
	text-align: center;
	border: 3px solid red;
	border-radius: 50%;
}



/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

}

/* Inserisci qui sotto 
	le tue regole, se necessario. */



.sidebar-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style: none;
	gap: 20px;
	color: white;

}

.sidebar-menu li {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-menu i {
	cursor: pointer;
	font-size: x-large;
}

.sidebar-menu i:hover {
	color: lightgray;
}



.sidebar-menu span {
	font-size: small;
}




.logo-plus {
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url(../assets/img/booltok_logo.png);
	border-radius: 50%;

}

.logo-plus::after {
	content: "+";
	position: absolute;
	top: 30px;
	right: 10px;
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 50%;
	text-align: center;
	font-size: 15px;
}

.logo-plus:hover {
	cursor: pointer;
}

/* Box Testo*/

.text-box {
	position: absolute;
	right: 130%;
	bottom: -29px;
	height: 50px;
	width: 300px;
	color: white;
	font-size: 13px;
}

.grassetto {
	font-weight: 600;
}